body {
    margin: 0;
}

.section-title {
    padding: .5rem;
    font-size: x-large;
}

#page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr;
    text-align: center;
    height: 100vh;
}

dialog {
    text-align: left;
}

#page-title {
    grid-column: 1/3;
    background-color: cyan;
}

#sidebar {
    background-color: lightgray;
}

#main {
    background-color: lightyellow;
}

ul {
    list-style: none;
    padding: 0 20px;
}

li {
    border: solid transparent 3px;
}

#project-list > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-section-bar {
    display: grid;
    grid-template-columns: 80px minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) 24px;
    border: solid transparent 3px;
    text-align: left;
    gap: .5rem;
}

#todo-section-bar > div {
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: solid transparent 3px;
}

#todo-section-bar > div:hover {
    background-color: whitesmoke;
}

#todo-section-bar > div:first-child {
    align-items: center;
}

#todo-list {
    padding: 0;
}

#todo-list > li {
    display: grid;
    grid-template-columns: 80px minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) 24px;
    text-align: left;
    align-items: center;
    gap: .5rem;
}

#todo-list > li > div {
    word-wrap: break-word;
}

li > span {
    padding-left: .5rem;
    margin-right: auto;
}

.item-due-date {
    display: flex;
    height: 100%;
    align-items: center;
}

.selected {
    background-color: whitesmoke;
}

li > img {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(67%) sepia(4%) saturate(19%) hue-rotate(6deg) brightness(97%) contrast(82%);
}

li > img:hover {
    filter: none;
}

.due {
    background-color: red;
    border-top: solid red 3px;
    border-bottom: solid red 3px;
}

.urgent {
    background-color: yellow;
    border-top: solid yellow 3px;
    border-bottom: solid yellow 3px;
}

.upcoming {
    background-color: lightgreen;
    border-top: solid lightgreen 3px;
    border-bottom: solid lightgreen 3px;
}

.finished > div {
    background-color: transparent;
    text-decoration: line-through;
    color: gray;
    border-top: solid transparent 3px;
    border-bottom: solid transparent 3px;
}

li:hover {
    border: solid gray 3px;
}

li:hover > div:nth-child(4) {
    border-top: solid gray 3px;
    border-bottom: solid gray 3px;
}

#todo-section-bar > .ascending {
    border-bottom: solid gray 3px;
}

#todo-section-bar > .descending {
    border-top: solid gray 3px;
}